#finetune-methods-container{
    margin-left: 2em;
    text-indent: -1em;
    text-align: justify;
}

#finetune-vis-container {
    margin: 30px 0px 0px 0px;
}

#finetune-vis-diag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

:root {
    --finetune-vis-shift: 52px;
}

#finetune-vis-emb-container {
    display: inline-block;
    position: relative;
    left: var(--finetune-vis-shift);
}

#finetune-vis-emb {
    height: 280px;
    width: 300px;
}

#finetune-vis-session-emb {
    height: 190px;
    width: 200px;
    position: relative;
    right: 4px;
}


#finetune-vis-img {
    position: relative;
    right: var(--finetune-vis-shift);
}


#finetune-vis-vel-plots {
    display: inline-block;
    position: relative;
    right: var(--finetune-vis-shift);
    top: 23px;
}

#finetune-vis-vx-plot {
    height: 160px;
    width: 300px;
}

#finetune-vis-vy-plot {
    height: 160px;
    width: 300px;
}

/* Controls */
#finetune-vis-controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#finetune-vis-button {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    background: #555;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
}

#finetune-vis-slider {
    margin: 0px 30px 0px 10px;
}

.finetune-vis-metric {
    display: inline-block;
    margin: 0px 10px;
}

.finetune-vis-metric p {
    display: inline-block;
    width: 25px;
}
